
h1 {
  color: darkslateblue;
  font-family: 'Alatsi', sans-serif;
  font-size: 50px; 
  padding: 0;
  margin: 0;
}

h2 {
  font-family: 'Alatsi', sans-serif;
  text-align: center;
  padding: 0%;
  margin: 0;
}

li {
  list-style-type: none;
  margin: 0 2vw;
  font-size: 3vh;
  font-family: 'Alatsi', sans-serif;
}

a {
  text-decoration: none;
  color: black;
  padding: 0;
  font-family: 'Alatsi', sans-serif;
  font-size: 20px;
}

a:hover{
  background-color:#eee;
}

nav {
  width: 100%;
  background-color: gray;
}

ul{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Alatsi', sans-serif;
}

li a:hover {
  background-color: #111;
}

.filteroptions {
    padding-top: 10px;
    font-family: 'Alatsi', sans-serif;
}

.filterDiv {
    float: left;
    color: #ffffff;
    width: 270px;
    height: 360px;
    line-height: 200px;
    text-align: center;
    margin: 6px;
    display: none;
}
  
.show {
    display: block;
  }
  
.container {
    margin-top: 20px;
    overflow: hidden;
  }
  
.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-family: 'Alatsi', sans-serif;
    font-size: 18px;
  }
  
.btn:hover {
    background-color: #ddd;
    font-family: 'Alatsi', sans-serif;
  }
  
.btn.active {
    background-color: #666;
    color: white;
    font-family: 'Alatsi', sans-serif;
  }

#witcher {
  background-image: url("img/tw.jpg");
  width: 270px;
  height: 360px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#coco {
  background-image: url("img/c.jpg");
  width: 270px;
  height: 360px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#lion {
  background-image: url("img/lk.jpg");
  width: 270px;
  height: 360px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#planet {
  background-image: url("img/op.jpg");
  width: 270px;
  height: 360px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#office {
  background-image: url("img/to.jpg");
  width: 270px;
  height: 360px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#hand {
  background-image: url("img/ht.jpg");
  width: 270px;
  height: 360px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#gg {
  background-image: url("img/gg.jpg");
  width: 270px;
  height: 360px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#ahs {
  background-image: url("img/ahs.jpg");
  width: 270px;
  height: 360px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#someone {
  background-image: url("img/sg.jpg");
  width: 270px;
  height: 360px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#bad {
  background-image: url("img/bb.jpg");
  width: 270px;
  height: 360px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.flip-card {
  background-color: transparent;
  width: 270px;
  height: 360px;
  border: 1px solid #f1f1f1;
}

.flip-card-inner {
  position: relative;
  width: 270px;
  height: 360px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 270px;
  height: 360px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  background-color:white;
  opacity: 0.7;
  transform: rotateY(180deg);
  line-height: 1.6;
}
.filterDiv h3 {
  font-size: 30px;
  font-family: 'Alatsi', sans-serif;
  color: #000;
  line-height: 1.2;
}

.filterDiv h6 {
  font-size: 17px;
  font-family: 'Alatsi', sans-serif;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  color: #000;
  line-height: 1.2;

}
br {
  line-height: 0.2;
}

img { 
  display: flex;
  justify-content: center;
  height: 30px;
  width: 60px;
  padding-left: 100px;
}

.imdb:hover, .imdb:active {
  background-image: url("img/imdb.png");
}
